.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1% 4% 1% 4%;
    background-color: #212529;
    color: #FFF;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}